.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: #1d1d1d;
  color: white;
  gap: 20px;
}

.header .search-input{
  width: 360px;
  padding: 10px;
  border-radius: 8px;
  margin-right: 10px;
  border: none;
  outline: none;
}

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.main .card {
  width: fit-content;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  background: #f9f9f9;
}

.main .no-results{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 20px auto;
  padding: 15px;
  background: #f8f8f8;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.user-form input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.user-form button {
  padding: 10px;
  background: #00964e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.user-form button:hover {
  background: #00571c;
}
